#!/usr/bin/env bash
sudo yum update -y
sudo yum install httpd -y
sudo yum install mariadb -y
sudo amazon-linux-extras install -y php7.2
sudo sed '/DirectoryIndex index.html/ c DirectoryIndex index.php index.html' /etc/httpd/conf/httpd.conf > /tmp/httpd.conf
sudo sed -e '/AllowOverride None/{x;s/^/X/;/^XX$/!{x;b};x;c AllowOverride All' -e '}' /tmp/httpd.conf > /etc/httpd/conf/httpd.conf
sudo curl https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar -o /tmp/wp-cli.phar
sudo mv /tmp/wp-cli.phar /bin/wp && sudo chmod +x /bin/wp
sudo systemctl start httpd
sudo systemctl enable httpd
sudo wp core download --locale=${LOCALE} --path=/var/www/html/
sudo wp config create --dbhost=${DBHOST} --dbname=${DBNAME} --dbuser=${DBUSER} --dbpass=${DBPASS} --path=/var/www/html > /tmp/command.log 2> /tmp/error.log
sudo wp core install --url=${URL} --title="WP-TestTerraform" --admin_user=${ADMUSER} --admin_password=${ADMPASS} --admin_email=${ADMMAIL} --path=/var/www/html
sudo sh -c "echo '${servername}' > /var/www/html/health.html"
sudo yum remove mariadb -y
sudo chown -R apache /var/www/html
sudo chgrp -R apache /var/www/html
